<div id="pageHeader">
    Archive
</div>

<P id="search">
    <form id="search-form">
        <input type="search" id="query" placeholder="Search">
    </form>
</p>

{{#each posts}}
<article>
    <header>
        <span id="meta">{{dateFormat this.post.meta.date format='Do MMMM YYYY'}}</span>
        <a href="{{this.path}}">
            <h1 class="article-title">{{this.post.meta.title}}</h1>
        </a>
    </header>

    {{#if this.post.meta.excerpt}}
    <p>{{{this.post.meta.excerpt}}}</p>
    {{/if}}
</article>
{{/each}}

<script src="{{config.paths.assets}}/js/search.js"></script>