<html>

<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="{{config.site.accentColour}}">

    <link rel="stylesheet" href="{{config.paths.assets}}/css/style.css">

    {{{customHeader}}}

    {{#if config.enableCodeHighlighting}}
    <link rel="stylesheet" href="{{config.paths.assets}}/css/code-style-light.css">
    <link rel="stylesheet" href="{{config.paths.assets}}/css/code-style-dark.css">
    <script src="{{config.paths.assets}}/js/highlight.js"></script>
    <script>hljs.highlightAll();</script>
    {{/if}}
</head>

<body>
    <div id="headerOuter">
        <div id="header">{{>header site=config.site}}</div>
    </div>
    <div id="box">{{{content}}}</div>

    <div id="footerOuter">
        <div id="footer">{{>footer config=config}}</div>
    </div>
</body>

</html>